#products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
#cartProducts{
    display: flex;
    flex-direction: column;
    padding: 500px;
    padding-top: 50px;
}
#cartProducts>h1{
    margin-left: 150px;
}
.product{
    display: flex;
    padding: 30px;      
}
.product>img{
    width: 150px;
    height: 150px;
}
.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.productPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
}