*{
    margin: 0;
}
#navbar{
    display: flex;
    padding: 50px;
    gap: 300px;
    justify-content: center;
    background-color: lightgrey;
}
#navbar > .link{
    font-size: 40px; 
    color: black;
    text-decoration: none;
}
#navbar > .link:hover{
    color: white;
}